<p>Enter details for new goal</p>

<!-- <div class="flex-container">
    <form [formGroup]="goalDetails" (ngSubmit)="(onSubmit)">
        <div class="grid p-fluid">
            <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input
                        type="text"
                        pInputText id = "description"
                        formControlName="description"
                        placeholder="Describe your goal"
                        required>
                    
                    <div *ngIf="description?.invalid && (description?.dirty || description?.touched)"
                    class="alert alert-danger">
                    <div>
                        <p-message *ngIf="description?.errors?.['required']" severity="warn" 
                        text="You need to describe your goal"></p-message>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input
                        type="number"
                        pInputText id = "amount_needed"
                        formControlName="amount_needed"
                        placeholder="How much is needed?"
                        required>
                    
                    <div *ngIf="amount_needed?.invalid && (amount_needed?.dirty || amount_needed?.touched)"
                    class="alert alert-danger">
                    <div>
                        <p-message *ngIf="amount_needed?.errors?.['required']" severity="warn" 
                        text="Enter amount needed"></p-message>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input
                        type="number"
                        pInputText id = "amount_saved"
                        formControlName="amount_saved"
                        placeholder="How much have you saved?"
                        required>
                    
                    <div *ngIf="amount_saved?.invalid && (amount_saved?.dirty || amount_saved?.touched)"
                    class="alert alert-danger">
                    <div>
                        <p-message *ngIf="amount_saved?.errors?.['required']" severity="warn" 
                        text="Enter amount saved"></p-message>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input
                        type="date" min="{{ today }}"
                        pInputText id = "complete_by"
                        formControlName="complete_by"
                        placeholder="When would you like to complete this goal?"
                        required>
                    
                    <div *ngIf="complete_by?.invalid && (complete_by?.dirty || complete_by?.touched)"
                    class="alert alert-danger">
                    <div>
                        <p-message *ngIf="complete_by?.errors?.['required']" severity="warn" 
                        text="Enter target date"></p-message>
                    </div>
                </div>
                </div>
            </div>
            
            <button pButton class="button" label="Submit" (click)="onSubmit()"
                type="submit" icon="pi pi-check" iconPos="right"></button>

        </div>

    </form>

    <div mat-dialog-action [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
        <button style="margin-left: 8px" mat-raised-button color="primary">Save</button>
    </div>

</div> -->

<h1 mat-dialog-title>Create new goal</h1>

<div mat-dialog-content>
    <form [formGroup]="goalDetails">
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <mat-icon matSuffix>description</mat-icon>
            <input formControlName="description" matInput placeholder="Description"/>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Amount needed</mat-label>
            <mat-icon matSuffix>paid</mat-icon>
            <input type="number" formControlName="amount_needed" matInput placeholder="amount_needed"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Amount saved</mat-label>
            <mat-icon matSuffix>savings</mat-icon>
            <input type="number" formControlName="amount_saved" matInput placeholder="amount saved"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Target Date</mat-label>
            <input min="{{ today }}" formControlName="complete_by" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <!-- <input formControlName="complete_by" matInput placeholder=" "/> -->
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Image url</mat-label>
            <mat-icon matSuffix>link</mat-icon>
            <input formControlName="image_URL" matInput placeholder="link"/>
        </mat-form-field>

    </form>
</div>

<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>
        Cancel <mat-icon matSuffix>close</mat-icon>
    </button>
    <button style="margin-left: 10px; background-color: green;" mat-raised-button color="primary" (click)="onSubmit()">
        Save <mat-icon matSuffix>check</mat-icon>
    </button>
</div>